/*
    Estou zerando a margem, o padding de todo o site
*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* defini a largura do corpo do site */

body{

    width: 100%;

}
/*
    Criei um visual simples para o formulário e centralizei seus itens
*/
.formMargin{

    margin-top: 5rem;
    margin-left: 25rem;
    margin-right: 25rem;

    padding: 1rem 3rem 2rem 3rem;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;

    background: #F2F2F2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;


}



